.icon {
  height: 6rem;
  width: 6rem;
  margin: 1.3rem;
  z-index: 5;
  transition: all .2s;
  &:hover {
    transform: scale(1.3);
  }
  &:active {
    transform: scale(1.2);
  }
  a,
  svg {
    position: absolute;
    height: inherit;
    width: inherit;
    z-index: 5;
  }
}