@import '../abstracts/variables';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem .8rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  z-index: 200;

  border-top: solid 1px $color-grey-light;
  border-bottom: solid 1px $color-grey-light;
  position: sticky;
  top: 0;

  background-color: rgb(249, 249, 249);
  box-shadow: 0 .3rem .5rem rgba(black, .1);

  @media only screen and (max-width: $bp-phone) {
    position: inherit;
    flex-direction: column;

    &--2 {
      visibility: hidden;
      height: 0;
    }

    &__social {
      & > .nav__btn {
        font-size: 3.5rem;
      }

      .a__link {
        svg {
          height: 4.5rem;
          width: 4.5rem;
          margin-left: 5rem;
        }
      }
    }

  }



  &__btn {
    &:link,
    &:visited {
      font-size: 2rem;
      text-decoration: none;
      color: inherit;
      padding: 1rem 2rem;
      transition: all .3s;
      font-weight: 600;

      &:not(:last-child) {
        border-right: solid 1px $color-grey-dark;
      }

      &:hover {
        color: $color-grey-light;
        background-color: $color-grey-dark-6;
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(1px);
      }

    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .icon {
      fill: #0072b1;
      margin-left: 3rem;
    }

    .btn {
      padding-right: 3rem;
      padding-left: 3rem;
      font-size: 2.5rem;
    }
  }
}