@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-3rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(3rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes zoomBackgroundSlightly {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 102%;
  }
}

@keyframes zoomBackgroundSlightlyPhone {
  0% {
    background-size: 178%;
  }

  100% {
    background-size: 180%;
  }
}

@keyframes zoomBackgroundSlightlyPhoneSmall {
  0% {
    background-size: 217%;
  }

  100% {
    background-size: 220%;
  }
}