// GREYS
$color-grey-light: #eee;
$color-grey-light-2: rgb(245, 245, 245);
$color-grey-light-3: rgb(251, 251, 251);
$color-grey-light-4: rgb(254, 254, 254);

$color-grey-dark: rgb(187, 187, 187);
$color-grey-dark-2: rgb(161, 161, 161);
$color-grey-dark-3: rgb(119, 119, 119);
$color-grey-dark-4: rgb(90, 90, 90);
$color-grey-dark-5: rgb(56, 56, 56);
$color-grey-dark-6: rgb(31, 31, 31);

$color-link-blue: rgb(0, 136, 255);
