@import '../abstracts/variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-phone) {
        font-size: 35%;
    }
}

body {
    box-sizing: border-box;
}

.home {
    // @media only screen and (max-width: $bp-phone-small) {
    //     width: 100%;
    // }
}

.a__link {
    &:link,
    &:visited {
        text-decoration: none;
        color: $color-link-blue;
    }
}